*{
    font-family: 'Trebuchet MS', sans-serif;
}
.nav-link.active {
    border-bottom: 2px solid white;
}
#progressBar {
    position: fixed;
    top: 80px; /* Adjust based on your navbar height */
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #A42BEA;
    z-index: 1031;
}
#progressBar div {
    height: 100%;
    background-color: #fff;
    width: 0%;
}

.carousel-item {
    position: relative;
  }
  
  .carousel-item img {
    max-height: 400px; 
    object-fit: cover; 
    width: 100%;
  }
  
  .carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856); /* Adjust the color and opacity as needed */
  }
  
  .carousel-caption {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 10px;
  }
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
}
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
}
/*.secondary-navbar {
    position: sticky;
    top: 0;
    z-index: 1030; /* Ensure it stays above other content 
} 
*/
.service-hero-section {
    height: 50vh;
    background-color: #f8f9fa; 
    overflow: hidden;
}
.fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.247) 0%, rgba(255, 255, 255, 0.096) 20%);
    pointer-events: none;
}
  .service-hero-section .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Optional: You can add some styling to center the image better */
#preloader img {
    width: 100px; /* Adjust size if necessary */
    height: auto;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
/* Add hover effect to dropdown items */
.dropdown-menu .dropdown-item:hover {
    background-color: #5e149a; /* Purple background on hover */
    color: white !important;    /* White text on hover */
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
.speedyui-partner {
  font-family: 'Inter', sans-serif;
  --ss-primary-color:#5e149a;
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.speedyui-partner h1, .speedyui-partner h2, .speedyui-partner h3, .speedyui-partner h4, .speedyui-partner h5, .speedyui-partner h6, .speedyui-partner p {
  margin: 0;
}

.speedyui-partner .badge {
  background-color: transparent;
  font-size: 14px;
  position: relative;
  z-index: 0;
  color: var(--ss-primary-color);
}

.speedyui-partner .badge:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--ss-primary-color);
  opacity: .1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.speedyui-partner .partner-wrapper {
  background-color: transparent;
  transition: all .3s;
  height: 150px;
  border: 0.5px;
  border-color: #f7f7f7;
}

.speedyui-partner .partner-wrapper img {
  filter: grayscale(100%);
  transition: all .3s;
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

.speedyui-partner .partner-wrapper:hover {
  background-color: #f8f9fa;
}

.speedyui-partner .partner-wrapper:hover img {
  filter: grayscale(0%);
}
.speedyui-partner .row.g-0 {
    align-items: center; /* Vertical center logos */
}

@media  screen and (max-width: 992px) {
    #progressBar {
        top: auto;
    }
    .nav-link.active {
        border-bottom: none;
    }
    .carousel-caption {
        font-size: 14px;
        padding: 5px;
    }
    .carousel-item img {
    max-height: 200px; /* Adjust the height for smaller screens */
    }
    
}

@media  screen and (max-width: 600px) {
    #progressBar {
        top: auto;
    }
    .nav-link.active {
        border-bottom: none;
    }
    .carousel-caption {
        font-size: 14px;
        padding: 5px;
    }
    .carousel-item img {
    max-height: 200px; /* Adjust the height for smaller screens */
    }
}